.home-container {
    padding: 20px;
    margin-top: 50px;
  }
  
  .create-post-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create-post-button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .post {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .post-title {
    margin: 0 0 10px 0;
  }
  
  .post-text {
    margin: 0 0 10px 0;
  }
  
  .read-more-link {
    color: #007BFF;
    text-decoration: none;
  }
  
  .read-more-link:hover {
    text-decoration: underline;
  }
  
  .search-container {
    margin-bottom: 20px;
    align-items: center;
justify-content: space-between;
   

  }
  
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
    margin-right: 30px;
  }


  .search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Розміщує елементи внизу контейнера */
  }
  
  .create-post-button {
    padding: 10px 20px; /* Змінив розміри кнопки */
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  