doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Inicio de Sesión
    link(rel="stylesheet", href="/css/styles.css")
  body    
    block content
      .container
        div
          h2(class="layout-title") Iniciar Sesión
          if error 
            p(class="error")= error
          form(action="/user/login", method="post")
            div
              label(for="Email") Correo electronico:
              input(type="text", id="Email", name="Email")
            div
              label(for="Password") Contraseña:
              input(type="password", id="Password", name="Password")
            button(type="submit") Iniciar Sesión

          h2 ¿Aún no tienes una cuenta?
          button(type="button") 
            a(href="./singup") Registrarse
