.users-container {
    padding: 20px;
    margin-top: 50px;
  }
  
  .users-title {
    margin-bottom: 20px;
  }
  
  .user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .user-name,
  .user-email,
  .user-role {
    margin-right: 20px;
  }
  